@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Aprenda mais sobre <a target="_blank" href="https://docs.microsoft.com/aspnet/core">construção de Aplicativos Web com ASP.NET Core</a>.</p>
</div>
