@{
    ViewData["Title"] = "Política de Privacidade";
}

<h1>@ViewData["Title"]</h1>

<p>
    Site pertencente a equipe 6-Dev &copy; 2021
</p>

<ul>
    <li>Gustavo Apolonio</li>
    <li>Diogo Lima</li>
    <li>Ana Alves</li>
    <li>Edmilson Silva</li>
    <li>Gabriel Nunes</li>
    <li>Guilherme Severiano</li>
</ul>