@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Editar Filme";
}

<h1>Editar</h1>

<h4>Filme</h4>
<hr />
<div class="ml-auto w-100 h-75 row">
    <form asp-action="Edit" class="row w-100">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="col">
            <div class="form-group">
                <label asp-for="Title" class="control-label">Título</label>
                <input asp-for="Title" class="form-control" autocomplete="off" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label">Data de Lançamento</label>
                <input asp-for="ReleaseDate" class="form-control" autocomplete="off" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label">Gênero</label>
                <input asp-for="Genre" class="form-control" autocomplete="off" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Price" class="control-label">Preço</label>
                <input asp-for="Price" class="form-control" autocomplete="off" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-5 form-group">
                <label asp-for="Rating" class="control-label">Classificação Indicativa</label>
                <input asp-for="Rating" class="form-control" autocomplete="off" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-secondary btn-block" />
            </div>
        </div>
    </form>
</div>

<div class="row align-items-center justify-content-end">
    <h5>
        <a asp-action="Index" class="text-info">Voltar a Lista</a>
    </h5>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
